<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        li {
            list-style: none;
            font-size: 1.5rem;
        }

        a {

            text-decoration: none;
            background-color: mediumpurple;
            border-radius: 3px;
            color: whitesmoke;
            padding: 1px 10px;
            margin-bottom: 2rem;
        }

        a:hover {
            opacity: 0.9;
        }

        button {
            margin-top: 1rem ;
            text-decoration: none;
            background-color: mediumpurple;
            border-radius: 5px;
            color: whitesmoke;
            padding: 5px 10px;
            outline: none;
            border: none;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.9;
            transform: scale(1.1);
        }

    </style>
    <title><%=post.title%>></title>

</head>
<body>

<h4><a href="/posts">Back to all post</a></h4>
<div style="text-align: center">
<h3><%=post.username%></h3>
<p><%=post.title%></p>
<label for="postText"></label>
<textarea name="postText" id="postText" cols="40" rows="5">
    <%=post.text%>
</textarea>
    <!--Delete form-->
    <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</div>

</body>
</html>
